.p-dialog-mask.p-component-overlay {
  background-color: none !important;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.user-name-1 img {
  vertical-align: middle;
  border-style: none;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  float: left;
}

.trainer-content ul {
  list-style: none;
  padding-left: 12px;
}

.trained-on-table .p-datatable-header {
  display: none;
}
.trained-on-table select.form-control {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid#c9e8ff;
  background-color: #fff;
  transition: unset;
  color: #807c7cdb;
  font-size: 14px;
  outline: none;
  width: 100%;
}
.trained-on-table .p-multiselect {
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  width: 100%;
}
.trained-on-table .p-datatable .p-datatable-thead > tr > th,
.trained-on-table .p-datatable.p-datatable-lg .p-datatable-tbody > tr > td {
  padding: 10px 10px !important;
  font-size: 14px;
  font-weight: 500;
  border: none;
}
.p-datatable .p-datatable-tbody tr > td:first-child {
  border-radius: 10px 0px 0px 10px;
}
.p-datatable .p-datatable-tbody tr > td:last-child {
  border-radius: 0px 10px 10px 0px;
}
.p-datatable .p-datatable-tbody > tr > td {
  border-top: 2px solid #fafafa !important;
}
.p-datatable .p-datatable-tbody > tr > td {
  border-bottom: 2px solid #fafafa !important;
}
.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr:not(.p-highlight):hover {
  background: #fff;
  color: #495057;
}
.p-dropdown.p-component.p-inputwrapper.form-control.dropdown-box {
  max-height: 100% !important;
  width: 150px !important;
}
.dropdown-box .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0px 10px;
}
.dropdown-box .p-dropdown-panel {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 5px;
  text-align: right;
}
.dropdown-box .p-dropdown-panel li.p-dropdown-item {
  font-size: 16px;
  font-weight: 500;
}

.website-box {
  height: auto !important;
  width: 500px !important;
  padding: 0px;
}
.website-box .p-datatable .p-datatable-tbody > tr > td,.website-box .p-datatable .p-datatable-thead > tr > th {
  overflow-x: hidden;
  padding: 5px 5px;
  font-size: 12px;
}
.website-box .p-column-title {
    background: url(/css/resources-images/Icon-sort.svg) 100% 60%
      no-repeat;
    padding-right: 10px;
  }
  .website-box th.p-sortable-disabled.p-selection-column .p-column-title:first-child{
      background: none;
  }
  span.p-input-icon-right {
    width: 100%;
}
 @media(max-width:575px){
    .website-box {
        width: 96% !important;
        margin: auto;
        margin-left: 2%;
    }
 }
